<!-- FormGroup + FormControl (Référence par FormControlName) -->
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

  <mat-form-field>
    <mat-label>First Name: </mat-label>
    <input matInput type="text" formControlName="firstName" required="true" matTooltip="Info about the action">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Last Name: </mat-label>
    <input matInput type="text" formControlName="lastName">
  </mat-form-field>

  <button type="submit">Submit</button>
</form>

<!-- FormControl sans FormGroup (Référence par FormControl) -->
<!-- Avantage: Pas besoin de stocker le formControl dans une variable -->
<mat-form-field>
  <mat-label>Label plop: </mat-label>
  <input matInput type="text" title="" [formControl]="plop" matTooltip="Tooltip AM">
</mat-form-field>

<mat-form-field>
  <mat-label>Label plip: </mat-label>
  <textarea matInput type="text" title="" [formControl]="plip" matTooltip="Tooltip AM"></textarea>
</mat-form-field>

<!-- Nested FormGroup (Le parent contient la définition du FormGroup, les FormControls sont présents dans le composant enfant) -->
<form [formGroup]="profileForm2" (ngSubmit)="onSubmit()">

  <mat-form-field>
    <mat-label>city: </mat-label>
    <input matInput type="text" formControlName="city" required="true" matTooltip="city Tooltip">
  </mat-form-field>

  <app-child [parentFormGroup]="addressForm" />

  <button type="submit">Submit</button>
</form>